<div class="productFinder-container">

    <div class="slide-container">

        <div class="container-fluid slide-content swap-animation-out" ng-class="animationSwap" preload-bg-image="{{currentSlide.img}}" ng-animate-swap="currentSlide">

            <div class="row">
                <h2 class="text-center slide-title"> {{currentSlide.text}}</h2>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="optionId in currentSlide.options" ng-init="option = findById(optionsList,optionId)" >
                    <a class="thumbnail slide-thumbnail" ng-click="optionClicked(optionId)">
                        <div class="caption">
                            {{option.text}}
                        </div>
                        <img preload-image ng-src="{{option.img}}" class="center-block img-responsive"/>
                    </a>
                </div>
            </div>

        </div>

    </div>

    <perfect-scrollbar class="container-fluid productFeed-container" useBothWheelAxes="true" suppressScrollX="true" include-padding='true' ng-if="productFeed.length != 0">

        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-3 product-animate" ng-repeat="product in productFeed">
                <a class="thumbnail slide-thumbnail" ng-href="{{product.link}}">
                    <div class="caption">
                        {{product.name}}
                    </div>
                    <img preload-image ng-src="{{product.img}}" class="center-block img-responsive"/>
                    <div class="caption">
                        {{product.price}} {{currency}}
                    </div>
                </a>
            </div>
        </div>

    </perfect-scrollbar>

</div>
