/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

html,body{
  height:100%;
  width:100%;
}

.full-size{
  height:100%;
  width:100%;
}

.slide-content{
  height:100%;
  width:100%;
  background-size: cover;
  position:absolute;
}


.slide-container{
  position:relative;
  height:65%;
  /*border-style: solid;
  border-width: 1px;
  border-color: black;*/
  margin-bottom:5px;
  overflow:hidden;
}

.productFeed-container{
  position:relative;
  height:40%;
  overflow:hidden;
}

.productFinder-container{
  position:relative;
  height: 90%;
  width: 85%;
  margin-left: 7%;
  margin-top:2.5%;
  /*border-style: solid;
  border-width: 1px;
  border-color: black;*/
  overflow:hidden;
}

.slide-thumbnail .caption{
  text-align: center;
  font-size: 0.9vw;
  font-weight: bold;
}

.slide-thumbnail .caption-over{
  background-color:rgba(0,0,0,0.8);
  color:white;
  font-weight: bold;
}

a.slide-thumbnail:hover{
  text-decoration:none;
  color:inherit;
  cursor: pointer;
}

/** NOT USE AT THE MOMENT, WOULD BE TO DO A GLOBAL OVERLAY ON IMG **/
.caption-img-overlay {
  position:absolute;
  top:0px;
  right:0px;
  background:rgba(0, 0, 0, 0.1);
  width:100%;
  height:100%;
  padding:2%;
  text-align:center;
  color:#fff !important;
  z-index:2;
  font-size:1.5em;
  font-weight:bold;
}

.slide-thumbnail {
  position:relative;
  overflow:hidden;
  padding:0px;
  /* border-width:2px;*/
  border-width: 0px;
  max-height: 100%;
}

.slide-title{
  font-size:2.5em;
  font-weight:bold;
  opacity:1;
  margin-bottom: 30px;
  /*background-color:white*/
}

.slide-thumbnail .img-container{
  overflow: hidden;
}

@keyframes slideOutLeft {
  from    { transform: translateX(0); }
  to      { transform: translateX(-100%); }
}

@keyframes slideInRight {
  from    { transform:translateX(100%); }
  to      { transform: translateX(0); }
}

@keyframes slideInLeft {
  from    { transform: translateX(-100%); }
  to      { transform: translateX(0%); }
}

@keyframes slideOutRight {
  from    { transform:translateX(0%); }
  to      { transform: translateX(100%); }
}

.swap-animation.ng-enter        { animation:slideInRight 0.5s both ease-in; }
.swap-animation.ng-leave        { animation:slideOutLeft 0.5s both ease-in; }

.swap-animation-reverse.ng-enter        { animation:slideInLeft 0.5s both ease-in; }
.swap-animation-reverse.ng-leave        { animation:slideOutRight 0.5s both ease-in; }




.product-animate.ng-enter
{
  -webkit-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 1s cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.product-animate.ng-leave
{
  -webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  -o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
  position: relative;
  display: block;
}

.product-animate.ng-enter.product-animate.ng-enter-active,
.product-animate.ng-leave {
  opacity: 1;
}

.product-animate.ng-leave.product-animate.ng-leave-active,
.product-animate.ng-enter {
  opacity: 0;
}

/* to make scrollbars always visible */
.scrollbar-always-visible.ps-container > .ps-scrollbar-x-rail,
.scrollbar-always-visible.ps-container > .ps-scrollbar-y-rail {
  opacity: 0.6;
}

@font-face {
  font-family: gothamBlack;
  src: url("fonts/gotham-black.ttf");
}


@font-face {
  font-family: gothamLight;
  src: url("fonts/gotham-light.ttf");
}

@font-face {
  font-family: gothamMedium;
  src: url("fonts/gotham-medium.ttf");
}

@font-face {
  font-family: gothamBook;
  src: url("fonts/gotham-book.ttf");
}

.slide-thumbnail .caption{
  font-family: gothamLight;
}


.slide-title pre{
  font-family: gothamBlack;
}

.full-height{
  height:100%;
}

pre{
  border:initial;
  background-color:inherit;
  color:inherit;
  font-size:inherit;
  margin: 0px;
  padding: 0px;
}


.breadcrumb {
  /*centering*/
  display: inline-block;
  overflow: hidden;
  background-color:inherit;
  box-shadow: 0 0px 60px -26px black;
}

.breadcrumb div.action-container {
  text-decoration: none;
  outline: none;
  display: block;
  float: left;
  /*need more margin on the left of links to accomodate the numbers*/
  padding: 0 10px 0 60px;
  position: relative;
}
/*since the first link does not have a triangle before it we can reduce the left padding to make it look consistent with other links*/
.breadcrumb div.action-container:first-child {
  padding-left: 46px;
}
.breadcrumb div.action-container:first-child:before {
  left: 14px;
}
.breadcrumb div.action-container:last-child {
  border-radius: 0 5px 5px 0; /*this was to prevent glitches on hover*/
  padding-right: 20px;
}

/*adding the arrows for the breadcrumbs using rotated pseudo elements*/
.breadcrumb div.action-container:after {
  content: '';
  position: absolute;
  top: 0;
  right: -20px; /*half of square's length*/
  /*same dimension as the line-height of .breadcrumb a */
  width: 40px;
  height: 40px;
  /*as you see the rotated square takes a larger height. which makes it tough to position it properly. So we are going to scale it down so that the diagonals become equal to the line-height of the link. We scale it to 70.7% because if square's:
  length = 1; diagonal = (1^2 + 1^2)^0.5 = 1.414 (pythagoras theorem)
  if diagonal required = 1; length = 1/1.414 = 0.707*/
  transform: scale(0.707) rotate(45deg);
  /*we need to prevent the arrows from getting buried under the next link*/
  z-index: 1;

  /*stylish arrow design using box shadow*/
  box-shadow:
          2px -2px 0 2px rgba(0, 0, 0, 0.4),
          3px -3px 0 2px rgba(255, 255, 255, 0.1);
  /*
      5px - for rounded arrows and
      50px - to prevent hover glitches on the border created using shadows*/
  border-radius: 0 2px 0 50px;
}
/*we dont need an arrow after the last link*/
.breadcrumb div.action-container:last-child:after {
  content: none;
}

.action-slideName{
  font-weight: bold;
  font-family: gothamMedium;
  font-size:1.2em;
  text-align:center;
}

.action-slideName.inactive{
  font-weight: normal;
}

.action-slideName.inactive,.action-optionName{
  color: #bfbfbf;
}

.action-optionName{
  font-weight: bold;
  font-family: gothamBook;
  font-size:1em;
}

.action-icon{
  padding-left:8px;
}

.breadcrumb-container{
  text-align: center;
}

.slide-thumbnail img { transition: all .2s ease-in-out; }
.slide-thumbnail:hover img { transform: scale(1.1); }

.hover-underline-center{
  border-width: 0px;
  border-color: black;
  border-style:solid;
  padding: 3px;
}

.slide-thumbnail:hover .hover-underline-center, .slide-thumbnail:focus .hover-underline-center{
  border-bottom-width: 1px;
}

.previous-button{
  color: black;
  font-family: gothamBlack;
  font-size: 1.3em;
  font-weight: bold;
}

.previous-button:hover, .previous-button:active {
    text-decoration: none;
    color: black;
    cursor: pointer;
}
