/*
!*from here starts the styling*!
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
  &:before{
    content: "[";
  }
  &:after {
    content: "]";
  }
  & > li {
    display: inline;
  }
  & > li:before {
    content: "|";
    padding-right: 0.3em;
  }
  & > li:nth-child(1):before {
    content: "";
    padding: 0;
  }
}
html,body{
  height:100%;
  width:100%;
}
.full-size{
  height:100%;
  width:100%;
}
.slide-content{
  height:100%;
  width:100%;
  background-size: cover;
  position:absolute;
}
.slide-container{
  position:relative;
  height:65%;
  !*border-style: solid;
  border-width: 1px;
  border-color: black;*!
  margin-bottom:5px;
  overflow:hidden;
}*/
